torch>=1.9.1
torchdiffeq==0.2.2
numpy>=1.19.2
scanpy>=1.7.1
anndata>=0.7.5
scipy>=1.5.2
tqdm>=4.32.2
scikit-learn>=0.24.1
myst_parser==0.15.2
sphinx>=3.5.2
nbsphinx==0.8.8
ipython_genutils==0.2.0
jinja2<3.1
